.hero-area {
  margin-top: 1rem !important;
  height: 150px !important;
}

/* ============= Device specific fixes ======= */

/* IPad Pro */
@media (max-width: 1024px) {
  .hero-area {
    height: 150px !important;
    margin-top: 1rem;
  }
}
/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
  .hero-area {
    height: 150px;
    margin-top: 1rem;
  }
}