<figure 
    {{ if .Get "float"}}
        style="float: {{.Get "float"}}; border:none;"
    {{else}}
        style="border:none;"
    {{end}}
    >
    <img src="{{ .Get "src"}}"
        {{ if .Get "title"}}
            alt="{{.Get "title"}}"
        {{end}}
        {{ if .Get "height"}}
            height="{{.Get "height"}}"
        {{end}}
        {{ if .Get "align"}}
            class="{{.Get "align"}}"
        {{end}}
        {{ if .Get "width"}}
            width="{{.Get "width"}}"
        {{end}}
        >
    <figcaption>
        {{ if .Get "caption"}}
            <em>{{.Get "caption"}}</em>
        {{end}}
    </figcaption>
</figure>